
.addTask {
    background: green;
    cursor: pointer;

    min-height: 50px;
    width: 100%;

    top: 0;

    border: none;
    outline: none;

    position: sticky;
}

.addTask:hover {
    filter: brightness(1.1);
}